////
/// Alignment classes
///
/// We use this to build out our styles for the alignments.
///
/// @group  Utilities
/// @author Benjamin Lu <benlumia007@gmail.com>
/// @link   https://getbenonit.com/themes/initiator
////

a {
    color: #000080;
    border-bottom: 0.125rem solid #000080;
    text-decoration: none;
}

.grid {
    display: grid;
    grid-gap: 1.125rem;
    margin: 0;
    padding: 0;

    &.has-3-columns {
        grid-template-columns: 1fr 1fr 1fr;
    }
}